# Ignore compiled Java classes
*.class

# Ignore Node.js modules
node_modules/

# Ignore log files
*.log

# Ignore sensitive configuration files
config.ini

# Ignore IDE specific files
.idea/
.vscode/